# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
base/bin/*

# MAC
.DS_Store

# Editing Files
*.swp
*.swo
*~

# resource files
base/fake/*
data/data/*
data/bin/*
data/obj/*

# spark files
spark/input.txt
spark/result.txt
spark/standard.txt
spark/bruteforce
